@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Crimson Pro';
    src: url('fonts/CrimsonPro-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
  font-family: 'Crimson Pro Medium';
  src: url('fonts/CrimsonPro-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Karla Semi Bold';
  src: url('fonts/Karla-SemiBold.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Karla Medium';
  src: url('fonts/Karla-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
} 
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src: url('fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
.image-class {
    height: 50px; /* Atur ukuran gambar sesuai kebutuhan */
    width: auto;
  }
  ul {
    display: flex;
    align-items: center; /* Ini akan membuat gambar dan teks berada di satu garis horizontal */
  }
.text-programkursus {
    font-size: 12px;
    font-weight: 400;
    color: #687385;
    font-style: 'Inter';
}
.text-navstick {
    font-size: 12.5px;
    font-weight: 400;
    color: #687385;
    font-style: 'Plus Jakarta Sans';     
}
.text-hilight {
    font-size: 14px;
    font-weight: 500;
    color: #000001;
    font-family: 'Crimson Pro';
    letter-spacing: 0.7px;
}
.text-kategori {
    font-size: small;
    font-weight: normal;
    color: #4DA7D4;
    font-family: 'Karla Semi Bold';
}
.text-judul{
    font-size: 1.75rem;
    font-weight: normal;
    color: #FFFFFF;
    font-family: 'Crimson Pro Medium';
}
.text-judul-article {
  font-size: 17.5px;
  font-weight: normal;
  color: #000001;
  font-family: 'Crimson Pro Medium';
}
.text-isi-article {
  font-size: 12px;
  font-weight: normal;
  color: #687385;
  font-family: 'Karla';
}
.text-publish {
  font-size: 12px;
  font-weight: normal;
  color: #FFFFFF;
  font-family: 'Karla Medium';
}
.text-publish-article {
  font-size: 10px;
  color: #666666;
  font-family: 'Karla Medium';
}
.text-lihat-semua {
  font-size: 14px;
  color: #687385;
  font-family: 'Karla';
}
.text-footer-left{
  font-size: 14px;
  color: #444343;
  font-family: 'Plus Jakarta Sans';
  font-weight: normal;
}
.text-footer-left-bold{
  font-size: 14px;
  color: #444343;
  font-family: 'Plus Jakarta Sans Bold';
  font-weight: normal;
}
.thumb-overlay {
    position: relative;
    display: block;
}
.carausel-post-1 {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.thumb-overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px; /* Adjust the height of the shadow */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  border-bottom-left-radius: 0px; /* Match with the parent's border-radius */
  border-bottom-right-radius: 0px;
  z-index: 2; /* Make sure it's above the image but below the text */
}

.image-overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit; /* Match the parent's border-radius */
}

.overlay-text {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 20px;
  color: white;
}

.thumb-overlay-article {
  position: relative;
  display: block;
  overflow: hidden;
}
.img-hover-article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Mengatur bayangan hanya di setengah gambar */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.81)); /* Gradien bayangan dari transparan ke hitam */
}
.post-content {
  border-radius: 0, 0, 10px, 10px;
}
.p-30 {
  padding: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px
}
.mt-30 {
  margin-top: 30;
}
.mb-30 {
  margin-bottom: 30px;
}
.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.align-self-center {
  align-self: center;
}
.header-top {
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 15px;
  margin-right: 20px;
  margin-left: 15px;
}
.header-sticky {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
.container {
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-8 {
  position: relative;
  padding-left: 50px;
  margin-right: -30px
}
.col-lg-4, .col-md-6, .col-lg-12 {
  position: relative;
  margin-right: -15px;
  padding-left: 50px;
}
.bg-grey {
  background-color: #F7F8F9;
  width: 100%;
}
.col-md-10 {
  position: relative;
  padding-top: 30px;
}
.col-md-2 {
  padding-top: 28px;
  text-align: right; /* atur agar teks di dalamnya rata kanan */
  margin-right: 65px;
}
.row-mblog {
  justify-content: space-between; /* jarak antara elemen diatur agar saling menjauh */
  align-items: center; /* vertikal rata tengah */
}
.textwidget  {
  box-sizing: border-box;
}
.box-text {
  display: block;
  width: 420px; /* Sesuaikan lebar agar teks terbagi dalam 3 baris */
  word-wrap: break-word;
  line-height: 1.5em; /* Jarak antar baris */
  padding-left: 50px;
}